.team-card {
  background: rgba(213, 8, 8, 0.8);
  border-radius: 72px !important;
  color: #ffffff !important;
}

.thumb {
  border-radius: 50%;
  width: 80px;
}

.name {
  color: #ffffff;
  font-weight: bold;
}
