.top {
    background: rgba(196, 196, 196, 0.35);
}

.top_body {
    /* padding:0; */
    font-weight: 700;
    font-size: 14px;
}

.nav-item {
    font-weight: 700;
    color: #707070;
    margin-right: 16px;
}

.nav-link:hover{
    border-bottom: 3px solid #d50808;
}

.nav-link {
    border-bottom: 2px solid transparent;
    transition: 0.2s all ease;
    color: #444444!important;
}

.nav-red {
    color: #d50808!important;
}

.topnav{
    background: #f1f1f1;
    padding: 8px;
}