.glimpse-card {
    height: 400px;
    background: linear-gradient(89.35deg, rgba(241, 241, 241, 0.8) 31.39%, rgba(255, 255, 255, 0) 99.74%), url('../../assets/images/children-close-up-crowd-764681.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.ways-image {
    position: absolute; right: 0; bottom:0; width: 80px;
}

.card-about-1 {
    background: rgba(213, 8, 8, 0.8);
}